extends ../layout/main

block content
  h1 Домашнее задание
  p Разработка API для работы с календарем задач - CRUD, фильтрация и поиск
  h2 Цель:
  p В этом задании вы потренируете в разработке собственного API для своих библиотек
  h2 Описание домашнего задания:
  p Необходимо
  section
    ol
      li в репозитории прошлого задания создать новую ветку
      li описать интерфейс для библиотеки для работы с календарем (закладывая работу с произвольным хранилищем) Должны поддерживаться следующие операции
        ol
          li CRUD
          li фильтрация задач (по тексту, дате, статусу, тегам)
      li Реализовать преложенный интерфейс с использованием в качестве хранилища locasStorage
      li Покрыть реализацию тестами
      li ссылку на пуллреквест сбросить в чат по дз  
